#content {
    width: 360px;
    height: 260px;
    padding: 10px;
    resize: both;
    overflow: auto;
    margin-bottom: 5px;
}

#list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    resize: horizontal;
    overflow: auto;
}

#list>div.clickable-item>input[type=checkbox] {
    display: none;
}

#list label:not(.removed) {
    display: block;
    width: 150px;
    height: 64px;
    transition: box-shadow .250s ease-in;
}

#list label.removed {
    display: block;
    width: 42px;
    height: 42px;
    transition: box-shadow .250s ease-in;
}

#list label.removed>div.item-name {
    display: none;
}

#list>div.clickable-item>input:checked~label {
    box-shadow: inset 0 0 0 100px rgb(255, 51, 51);
    font-weight: bold;
}

#list>div.clickable-item {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-template-rows: 1fr auto;
}

#count {
    font-size: 2em;
    grid-column: -2;
}