body {
    margin: 2em;
}

div.themed-grid-col {
    margin-left: 0.5em;
}

p.counter-number {
    font-size: 32pt;
    font-weight: bold;
    display: inline;
}

p.calc-result-large {
    font-size: 24pt;
    font-weight: bold;
    display: inline;
}

p.calc-result {
    font-weight: bold;
    display: inline;
}

.counter-button {
    margin-bottom: 20px;
}

div.card:hover {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa
}